* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: rgb(199, 194, 194);
    --secondary-color: rgb(185 185 187);
    --tertiary-color: rgb(250, 165, 143);
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/tractor.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 20px;
}


/*Hero style*/
.hero {
    background-image: url(../images/tractor.jpg);
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    background-attachment: fixed;
    height: 100px;
}

.subtitle {
    position: absolute;
    background-color: var(--primary-color);
    
}
/*Hero style end*/

.text {
    margin:auto;
}

.work {
    padding: 10px 20px 20px 0px;
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: flex-start;
    width: -webkit-fill-available;
}

.content {
    padding: 20px; 
    margin:auto;
}

/*about me*/
.about-me {
    padding: 10px 30px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

.section-title {
    padding: 0px 20px 30px 150px;
    border-right: 5px solid black;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    width: 300px;
}


/*work style*/

.run-buddy {
    margin:auto;
    position:relative;
    padding: 10px;
    border: 10px solid var(--primary-color);
    background-color: var(--tertiary-color);
}

.run-buddy-info {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background-color: var(--tertiary-color);
    width: 100px;
    height: 60px;
    text-align: center;
    margin:auto;
    align-items: center;
}

.robot-gladiators {
    margin:auto;
    position:relative;
    padding: 10px;
    background-color: var(--tertiary-color);
    border: 10px solid var(--primary-color);
}

.robot-gladiators-info {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background-color: var(--tertiary-color);
    width: 150px;
    height: 60px;
    text-align: center;
    margin:auto;
}

.password {
    margin:auto;
    position:relative;
    padding: 10px;
    background-color: var(--tertiary-color);
    border: 10px solid var(--primary-color);
}

.password-info {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background-color: var(--tertiary-color);
    width: 175px;
    height: 60px;
    text-align: center;
    margin:auto;
}


/*work style end*/


.contact {
    display: inline-flex;
    background-color: var(--primary-color);
    width: -webkit-fill-available;
    justify-content: space-evenly;
    font-size: 30px;
    padding-top:100px;
}

/*footer*/
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*footer*/